.intro{
    color:blue;
}
.homePic{
    font-weight: bold;
    font-size: 25px;
    color:red;
    text-align: center;
}
.about{
    text-align: center;
}
h1{
    text-align: center;
}
h5{
    font-size: 15px;
}
.container{
    margin-bottom: 100px;
}
.projects{
    text-align: center;
}