<div class="container">
    <h1><%= title %></h1>
    <div class="about">
        <p>Legal name: Junesik Han</p>
        <p>Preferred name: Tony</p>
        <p>Country of birth: South Korea</p>
        <p>Current residency: Toronto, Canada</p>
        <p>School: Centennial College</p>
        <p>Program: Software Engineering Technology</p>
        <img src="./content/images/profilepic.jpg" alt="profile picture" width="300" height="300">
        <p></p>
        <p>My name is Tony and I am currently a 2nd year student at Centennial College.</p>
        <p>I am in the program Software Engineering Technology.</p>
        <p>In my free time I like to play/watch video game called DotA 2 (Defense Of The Ancient) or play/watch soccer.</p> 
    </div>
</div>