<div class="container">
    <h1><%= title %></h1>
    <div class="about">
        <p><strong>Legal name: </strong>Junesik Han</p>
        <p><strong>Preferred name: </strong>Tony</p>
        <p><strong>Country of birth: </strong>South Korea</p>
        <p><strong>Current residency: </strong>Toronto, Canada</p>
        <p><strong>School: </strong>Centennial College</p>
        <p><strong>Program: </strong>Software Engineering Technology</p>
        <img src="./content/images/profilepic.png" alt="profile picture" width="300" height="300">
        <p></p>
        <p>My name is Tony and I am currently a 2nd year student at Centennial College.</p>
        <p>I am in the program Software Engineering Technology.</p>
        <p>In my free time I like to play/watch video game called DotA 2 (Defense Of The Ancient) or play/watch soccer.</p> 
    </div>
</div>