<div class="container">
    <h1><%= title %></h1>
    <div class="intro">
        <p>Welcome to my comp229 assignment 1 of fall 2022 semester.</p>
    <p>The goal of this assignment is to create personal portfolio website using ExpressJS.</p>
    <p>On this website you can find information about myself, my previous projects, 
        services I offer, and my contact information.</p>
    </div>
    <div class="homePic">
        <a href="/about"> <img src="./content/images/profilepic.png" alt="profile picture"></a>
        <p>Click the picture above to know more about me!</p>
    </div>
</div>