<div class="container">
    <h1><%= title %></h1>
    <div class="projects">
        <h3>Project 1</h3>
        <img src="./content/images/project1.png" alt="project 1 picture">
        <h3>Project 2</h3>
        <img src="./content/images/project2.png" alt="project 2 picture">
        <h3>Project 3</h3>
        <img src="./content/images/project3.png" alt="project 3 picture">
        <br>
        <p>Click on picture and add to favourites</p>
        <img src="./content/images/project3p2.png" alt="project 3 picture">
        <p>Now the picture shows up in favourite section</p>
        <img src="./content/images/project3p3.png" alt="project 3 picture">
    </div>
</div>